body {
    margin: 0;
}
    
.navbar {
    background-color: #222;
    border-color: #080808;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: box;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    position: fixed;
}    
.navbar-nav {
    padding-left: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.navbar-nav > li {
    float: left;
    position: relative;
    display: block;
    background-color: #222;
    font-size: 18px;
    color: #9d9d9d;
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-nav > li :hover {
    background-color: #080808;
}
.navbar-nav > li > a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 13px;
    cursor: pointer; /* fix cursor for angular links */
    cursor: hand;
}
.appname {
    color: #9d9d9d;
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 24px;
    margin-left: 20px;
    font-weight: 400;
}
.powered-by {
    color: #9d9d9d;
    float: right;
    font-size: 14px;
    padding-top: 25px;
    margin-right: 20px;
}
.powered-by-al {
    font-style: italic;
}


.content {
    margin-top: 50px;
}
.signin {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 80px;
}
.input {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin-bottom: -1px;
    padding-left: 5px;
    width: 100%;
    height: 45px;
    font-size: 20px;
    box-sizing: border-box;
}
.input-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    height: auto;
    font-size: 16px;
}
.input-btn {
    background-color: #286090;
    color: white;
    font-weight: 600;
    border: 1px solid #286090;
}
.signin-error {
    font-weight: 600;
}


.error-container {
    width: 100%;
    /*min-height: 150px;*/
    height: auto;
    color: white;
    margin-top: 4px;
    /*margin-bottom: 1px;*/
}
.error-details {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 16px;
    color: #9d9d9d;
}
.error-time {
    float: right;
    font-style: none;
    font-weight: 400;
}
.error-file, .error-line {
    font-weight: 600;
}
.error-debug {
    background-color: #9d9d9d;
    color: azure;
}
.error-notify {
    background-color: #bce8f1;
}
.error-warning {
    background-color: #ff7531;
}
.error-error {
    background-color: #a94442;
}
.error-emergency {
    background-color: black;
    color: #ea262c;
    border-top: 5px #ea262c solid;
    border-bottom: 5px #ea262c solid;
}
.error-box {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.error-debug .error-details, 
.error-notify, 
.error-warning {
    color: black;
}
.error-warning .error-details,
.error-notify .error-details,
.error-error .error-details{
    color: #333333;
}